<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/personalBlog/assets/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>

  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixid-top nav-down">
      <div class="container pr-0">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="logo" style="width:60px;"></a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav ms-auto fs-5">
        
            <li class="nav-item active">
              <a class="nav-link " href="{{ '/index.html' | relative_url }}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ '/about' | relative_url }}">Sobre</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ '/blog' | relative_url }}">Posts</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">RSS</a>
            </li>
          </ul>

          <form class="d-flex" role="search">
            <input class="form-control text-small " type="text" placeholder="Tupe and enter..." />
          </form>

        </div>
      </div>
    </nav>

  <!--footer-->
  <footer class="bg-dark text-light text-center py-3 fixed-bottom">
    <div class="container">
        <p class="mb-0">&copy; 2025 Blog Robson Calixto.</p>
    </div>
  </footer>
  {% include navigation.html %}
  {{ content }}
  </body>
</html>